<?xml version="1.0" encoding="UTF-8"?>
<beans    
	xmlns="http://www.springframework.org/schema/beans"    
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
	xmlns:p="http://www.springframework.org/schema/p"    
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">        
 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">         
 	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>        
 	<property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"></property>        
 	<property name="username" value="root"></property>        
 	<property name="password" value="root"></property>    
 </bean>        
 
 <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">        
 	<property name="dataSource" ref="dataSource" />     
 </bean>            
 
 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">        
 	<property name="dataSource" ref="dataSource" />    
 </bean> 
    
	<bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.icreate.dao.UserDao"></property>
	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
</bean> 


<bean id="userService" class="com.icreate.service.impl.UserServiceImpl">
<property name="userDao" ref="userDao"></property>
</bean>

</beans>



 
